html {
  height: 100%;
  width: 100%;
  left: 0; 
  top: 0; 
  bottom: 0;
  right: 0; 
  position: absolute; 
  background: linear-gradient(124deg, #56cbf9, #FF729F);

  background-size: 1800% 1800%;
  animation: rainbow 10s ease infinite; 
}

.mainInformation {
  vertical-align: middle; 
}

.container {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold; 
  display: flex;
}

a {
  color: black; 
  text-decoration: none;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 200%;
}

h3 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}
h5 {
  color: black;
  font-size: 100%;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  width: 750px; 
}
.shrey {
  color: black;
  font-weight: normal;
  font-size: 80%;
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;  
  left: 1px;  
  bottom: 5px;     
  width: 95%;  
  text-align: right;  
}
/* button{
  width: 240px;
  height: 60px;
  color: white;
  border-radius: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 110%;
  background-color: black;
  transition: ease-out, 0.3s;
  position: relative;
  border-color: white; 
} */

button {
  position: relative;
  display: inline-block;
  padding: 20px;
  border: none;
  border-radius: 50px;
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120%;
  height: 120%;
  border-radius: 50%;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

button:hover {
  transform: scale(1.2);
  box-shadow: 0px 0px 30px white;
  color: #56cbf9; 
}


h1 {
  color: black;
  font-weight: 50%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 400%;
}

@keyframes rainbow {
  0% {
    background-position: 0% 100%; 
  }
  10% {
    background-position: 20% 80%; 
  }
  20% {
    background-position: 40% 60%; 
  }
  30% {
    background-position: 60% 40%; 
  }
  40% {
    background-position: 80% 20%; 
  }
  50% {
    background-position: 100% 0%; 
  }
  60% {
    background-position: 80% 30%; 
  }
  70% {
    background-position: 60% 50%; 
  }
  80% {
    background-position: 40% 70%; 
  }
  90% {
    background-position: 20% 90%; 
  }
  100% {
    background-position: 0% 100%; 
  }
}
